<html>
	<head>
		<title>后台管理</title>
	</head>

	<frameset rows="150, *">
		<frame src="/admin/top" name="top"/>
		<frameset cols="150, *">
			<frame src="/admin/menu" name="menu" />
			<frame src="/admin/main" name="main" />
		</frameset>

	</frameset>
</html>
