<table align="center" border="1" width=300>
	<caption><h1>AS管理平台</h1></caption>
	<form action="" method="post">
		<tr>
			<th>用户名</th>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<th>密  码</th>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="sub" value="登 录">
			</td>
		</tr>
	</form>
</table>