<!DOCTYPE>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>测试</title>

    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: Arial;
        font-size: 14px;
      }

      #panel {
        float: left;
        width: 300px;
        height: 550px;
      }

      #map-container {
        margin-left: 300px;
      }

      #map {
        width: 100%;
        height: 100%;/*550px*/
      }

      #markerlist {
        height: 400px;
        margin: 10px 5px 0 10px;
        overflow: auto;
      }

      .title {
        border-bottom: 1px solid #e0ecff;
        overflow: hidden;
        width: 256px;
        cursor: pointer;
        padding: 2px 0;
        display: block;
        color: #000;
        text-decoration: none;
      }

      .title:visited {
        color: #000;
      }

      .title:hover {
        background: #e0ecff;
      }

      #timetaken {
        color: #f00;
      }

      .info {
        width: 200px;
      }

      .info img {
        border: 0;
      }

      .info-body {
        width: 200px;
        height: 200px;
        line-height: 200px;
        margin: 2px 0;
        text-align: center;
        overflow: hidden;
      }

      .info-img {
        height: 220px;
        width: 200px;
      }

      #info {
        height: 80px;
        width: 180px;
        padding: 9px;
      }

      .personal_wifi {
        background-image: url(../img/map/personal_wifi.png);
      }

      .business_wifi {
        background-image: url(../img/map/business_wifi.png);
      }

      .public_wifi {
        background-image: url(../img/map/public_wifi.png);
      }

      #type {
        text-align: center;
        font-size: 120%;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
      }

      #location, #status, #people {
        float: left;
        line-height: 33px;
        padding: 0 2px 0 24px;
        color: #666666;
        font-weight: bold;
      }

      #location {
        background: url(../img/map/location_icon.png) no-repeat;
      }

      #status {
        background: url(../img/map/status_icon.png) no-repeat;
      }

      #people {
        background: url(../img/map/people_icon.png) no-repeat;
      }

    </style>

    <script src="http://www.google.com/jsapi"></script>
    <script src="../cache/data.json" type="text/javascript"></script>
    <script type="text/javascript">
      var script = '<script type="text/javascript" src="../js/markerclusterer';
      if (document.location.search.indexOf('compiled') !== -1) {
        script += '_compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
    </script>

    <script type="text/javascript" src="../js/infobubble.js"></script>
    <script type="text/javascript" src="../js/speed_test.js"></script>

    <script type="text/javascript">
      google.load('maps', '3', {
      	other_params: 'sensor=false'
      });
      
      google.setOnLoadCallback(speedTest.init);

    </script>
  </head>
  <body>
    <div id="map"></div>
    <div id="panel" hidden>

      <div hidden>
        <input type="checkbox" checked="checked" id="usegmm"/>
        <span>Use MarkerClusterer</span>
      </div>

      <div>
        <select id="nummarkers" hidden>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100" selected="selected">100</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>

        <span hidden>Time used: <span id="timetaken"></span> ms</span>
      </div>

      <div hidden id="markerlist"></div>
    </div>
    <div id="map-container">
      <div id="map1"></div>
    </div>
  </body>
</html>
