<ul style="list-style:none;margin:0px;padding:0px">
	<li><h3>状态管理1</h3>
		<ul>
			<li><a href="/admin/lister" target="main">CL状态</a></li>
			<li><a href="/admin/line" target="main">图表测试</a></li>
		</ul>
	</li>
	<li><h3>状态管理2</h3>
		<ul>
			<li><a href="/admin/statuscount" target="main">周报数据</a></li>
			<li><a href="/admin/blank" target="main">状态4</a></li>
		</ul>
	</li>

</ul>
