管理员:<b>{$smarty.session.username}</b>你好！
<a href="/admin/logout" target="_top">退出</a>
<center>
	<h1>后台管理</h1>
</center>

<a href="/admin/menu" target="menu">状态</a> ||
<a href="/admin/menu2" target="menu">操作</a> ||
<a href="/admin/menu3" target="menu">其他</a>
